.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 20px;
    margin-left: 480px;
    color: rgb(0, 0, 0);
    background-color: rgb(233, 105, 105);
    width: 30px;
    height: 20px;
    border-radius: 100px;
    border: solid 2px rgb(0, 0, 0);
    transition: all 0.6s;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}
.Button:hover{
    background-color: brown;
    width: 35px;
    height: 25px;
}