.Header{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100vw;
    height: 7vh;
    background-color: rgb(2, 28, 30);
    color: aliceblue;
}